:host {
    flex: 1 0 30%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 85vh;
}

.challenge-title {
    text-align: center;
    font-size: 22px;
    padding: 5px 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 1rem 0;
}

p {
    margin: 1.5rem 0.5rem;
}

.links li {
    margin: 1.5rem 0;
}

.links ul {
    margin-left: 2rem;
}

.links a {
    color: #267b7b;
    font-weight: bold;
}

.links a:hover {
    text-shadow: 0 1px 3px #5e7878b3;
}

.btn {
    font-size: 20px;
    border-radius: 6px;
    display: block;
    width: 95%;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    padding: 6px 12px;
    color: #002121;
    border: 2px solid #115353;
    margin-bottom: 0.7rem;
}

.btn:hover {
    color: #fff;
    background-color: #115353;;
}

.output {
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 6px;
    width: 95%;
    margin-top: 2rem;
}