<header>
  <h4 class="challenge-title">Reverse a String</h4>
  <hr />
</header>
<main>
  <div class="task-description">
    <p>Reverse the provided string.</p>
    <p>You may need to turn the string into an array before you can reverse it.</p>
    <p>Your result must be a string.</p>
  </div>
  <div class="links">
    <p>Here are some helpful links:</p>
    <ul>
      <li><a target="_blank" href="https://blog.golang.org/strings">Strings, bytes, runes and characters in Go</a></li>
      <li><a href="https://medium.com/go-walkthrough/go-walkthrough-bytes-strings-packages-499be9f4b5bd">Go Walkthrough: bytes + strings packages</a></li>
    </ul>
  </div>
  <button class="btn" (click)="run()">Run tests (ctrl + enter)</button>
  <button class="btn" (click)="format()">Format</button>
  <button class="btn">Reset your code</button>
  <button class="btn">Get a hint</button>
</main>
<footer>
  <div class="output">
    <pre>
      <code>
      /*
        Your output will go here
      */
      </code>
    </pre>
  </div>
    <app-testresult [results]="results"></app-testresult>
  <app-testresult></app-testresult>
</footer>
